footer.container.py-5 
    .row 
        .col-md-6
            nav.footer.nav.justify-content-center.justify-content-md-start 
                a.nav-link(href="/about") Nosotros
                a.nav-link(href="/trips") Viajes
                a.nav-link(href="/tetimonials") Testimoniales
        .col
            p.copyright.text-center.text-md-right 
                | Todos los derechos reservados Agencia De Viajes 
                span= currentYear
