extends ./layout/index
block content
    main.container.mt-5 
        .row 

            .col-md-5   
                img(src="/img/nosotros.jpg", alt="imagen nosotros", class="img-fluid")
            .col-md-7
                h1= page
                blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque perferendis magnam, aliquid nulla possimus ea iusto repellendus a sequi fugiat animi aspernatur sit. Eveniet voluptate praesentium nam sed cumque odio?
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt recusandae veritatis sapiente facere neque, est atque ullam perferendis doloremque a earum. Accusantium magnam repellat possimus rerum doloribus nemo unde porro.
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero, neque soluta veritatis animi voluptates est officia unde dignissimos iusto aliquam ratione corporis asperiores debitis inventore cupiditate placeat enim praesentium?

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque eaque quae quas distinctio quaerat assumenda. A, reprehenderit excepturi! Fuga, reiciendis?
    
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejpres Destinos
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque eaque quae quas distinctio quaerat assumenda. A, reprehenderit excepturi! Fuga, reiciendis?
            
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque eaque quae quas distinctio quaerat assumenda. A, reprehenderit excepturi! Fuga, reiciendis?


